body {
  width: 100vw;
  height: 100vh;
}

body,
button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameBoard {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

input,
button {
  border-radius: 5px;
  height: 25px;
}

input {
  padding: 5px;
}

button {
  padding: 15px 20px;
}

.gameBoard > div {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
